h1 {
    display: block;
    margin: 0 auto;
}

h1 strong {
    color: lightpink;
}

canvas {
    background-color: lightpink;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

kbd {
    background-color: #6c757d;
    padding: 0.05rem 0.2rem;
}

.heart {
    color: lightpink;
    font-size: 100%;
}
